body{
    font-family: 'Oswald', sans-serif;
}
header{
    background-color: papayawhip;
    justify-content: space-between;
}
h1{
    font-weight: 700px;
}
span{
    color: rgb(253, 192, 38);
}
.first-sec{
    margin-left: 20%;
}
.container-fluid img{
    width: 50%;
}
.col-md-6 img{
    width: 70%;
}
.card img{
    border-radius: 40px;
    width: 100%;
    background: rgb(216, 213, 213);
    height: 350px;
    object-fit: scale-down;
}
.last-section{
   margin-top: 10em;
   margin-bottom: 10em;
}
.last-first-sec img{
    width: 5em;
}
.last-sec img{
    width: 100%;
    height: 400px;
}
.head-p{
    margin-left: 5%;
}
.jacket-card{
    border: 0;
}
.jacket-card-footer{
    border: 0;
    background-color: white;
}

.price{
    color: orange;
    float: left;
}
.button{
    float:right
}
